#{@comment.diary.user.nickname} さん

%p 下記の日記にコメントが追加されました。
%p= link_to @comment.diary.title, diary_url(@comment.diary)
%hr
%p
  #{@comment.user.nickname}さんからのコメント:
  %br
  #{@comment.content}
%hr

%p
  | SakuraMarket
